version: 2.1
orbs:
  node: circleci/node@1.1.6
jobs:
  build-and-test:
    executor:
      name: node/default
    steps:
      - checkout
      - run: cd ./front-end/ 
      - run: cd ./front-end/ && yarn
      - run:
          name: Configure git user
          command: |
            git config user.email "ci-build@ddeme.com"
            git config user.name "ci-build"
      - run: cd ./front-end/ && yarn build
      - run: cd ./front-end/ && yarn deploy
      - run: cd ./firebase/ && bash copy_build.sh
      - run: cd ./firebase/functions && npm install
      - run: npm install -g firebase
      - run: cd ./firebase/ && firebase deploy --token "$FIREBASE_TOKEN"
     
workflows:
    build-and-test:
      jobs:
        - build-and-test